@model GalaLaw.Models.EventsModel
@{
    ViewBag.Title = "NewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">News & Press</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb mobile_display_none">
                    <li><a href="~/Home">Home</a></li>
                    <li class="active">News & Pres</li>
                </ol>
            </div>
        </div>
        <div class="row content_text">
            <div class="col-xs-8 content_global mobile_content_global">

                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">GALA News Developments</h1>
                    </div>
                    <div class="pull-right print_share">
                        <h4 class="events_archive text_uppercase"><a href="~/News/NewsArchive?type=News">View Archive ></a></h4>
                    </div>
                </div>
                <hr>
                <div class="events_table">

                    @foreach (var news in Model.news.OrderByDescending(c => c.Published).Take(5).ToList())
                    {
                        if (@news.Content != null)
                        {
                            var Contentnews = Html.Raw(@news.Content);
                            if (Contentnews.ToHtmlString().EndsWith("</a>"))
                            {
                                <p class="events_text_content">
                                    <span class="event_data pull-left">@String.Format("{0:MMM d, yyyy}", @news.Published)</span>
                                    <br />
                                    <span class="events_content pull-left">@Contentnews</span>
                                </p>
                                <br />
                            }
                            else
                            {
                                <p class="events_text_content">
                                    <a href="~/Events/Article/@news.id">
                                        <span class="event_data pull-left"> @String.Format("{0:MMM d, yyyy}", @news.Published)</span>
                                        <br />
                                        <span class="events_content pull-left">@Html.Raw(@news.Heading)</span>
                                    </a>
                                </p>
                                <br />
                            }
                        }
                        else {
                            <p class="events_text_content">
                                <a href="~/Events/Article/@news.id">
                                    <span class="event_data pull-left"> @String.Format("{0:MMM d, yyyy}", @news.Published)</span>
                                    <br />
                                    <span class="events_content pull-left">@Html.Raw(@news.Heading)</span>
                                </a>
                            </p>
                            <br />

                        }

                    }


                    <a href="~/News/NewsArchive?type=News">Show more...</a>
                </div>

                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">GALA Press Releases</h1>
                    </div>
                    <div class="pull-right print_share">
                        <h4 class="events_archive text_uppercase"><a href="~/News/NewsArchive?type=Press">View Archive ></a></h4>
                    </div>
                </div>
                <hr>
                <div class="events_table">

                    @foreach (var Press in @Model.Press.OrderByDescending(c => c.Published).Take(5).ToList())
                    {
                        if (@Press.Content != null)
                        {
                            var content = Html.Raw(Press.Content);
                            if (content.ToHtmlString().EndsWith("</a>"))
                            {
                                <p class="events_text_content">
                                    <span class="event_data pull-left">@String.Format("{0:MMM d, yyyy}", @Press.Published)</span>
                                    <br />
                                    <span class="events_content pull-left">@content</span>
                                </p>
                                <br />

                            }
                            else {
                                <p class="events_text_content">
                                    <a href="~/Events/Article/@Press.id">
                                        <span class="event_data pull-left"> @String.Format("{0:MMM d, yyyy}", @Press.Published)</span>
                                        <br />
                                        <span class="events_content pull-left">@Html.Raw(@Press.Heading)</span>
                                    </a>
                                </p>
                                <br />

                            }
                        }
                        else {
                            <p class="events_text_content">
                                <span class="event_data pull-left"> @String.Format("{0:MMM d, yyyy}", @Press.Published)</span>
                                <br />
                                <span class="events_content pull-left">@Html.Raw(@Press.Heading)</span>
                            </p>
                                <br />
                        }
                    }
                    <a href="~/News/NewsArchive?type=Press">Show more...</a>
                </div>

            </div>
            <div class='col-xs-4 membership mobile_content_global'>
                <div class="news_block events_block">
                    <div class="stuffing_news stuffing_events">
                        <div class="home_member">
                            <h1 class="member_title text_uppercase member_events_title">join the mailing list</h1>
                            <div class="member_info member_events_info">
                                <p>Would you like to receive the GALA News? Click the link below to subscribe.</p>
                                <input class="text_uppercase" type="submit" value="SUBSCRIBE">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

