@model Gala_MVC_Project.Models.EventsModel
@{
    ViewBag.Title = "GazetteArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about_content_slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about_title text_uppercase">Event Article</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg_contact">
    <div class="container content">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb mobile_display_none">
                    <li><a href="~/Home">Home</a></li>
                    <li><a href="~/events/EventList">Events</a></li>
                    
                    <li class="active">Event Article</li>
                </ol>
            </div>
        </div>
        <div class="row content_text">
            <div class="col-xs-9 content_global mobile_content_global">
                <div class="bio_top_title">
                    <div class="pull-left">
                        <h1 class="content_title_news">@Model.Events.Heading</h1>
                    </div>
                    <div class="pull-right print_share">
                        <a href="javascript:window.print();"><img src="~/Images/print.png" alt="Print"></a>
                        <a href="http://www.addthis.com/bookmark.php"
                           class="addthis_button"
                           style="text-decoration:none;">
                            <img src="~/Images/share.png" alt="Share" />
                        </a> 
                    </div>
                </div>
                <hr>
                <div class="bio_member_content_info gazette_article_content_info">
             @Html.Raw(@Model.Events.Content)

                </div>
            </div>
            <div class="col-xs-3 mobile_content_global">
               
                <div class="bio_contact_info">
                 
                    <p></p>
                    <p>@Model.Events.Firm.FirmName</p>
                    <p>@Model.Events.Firm.Address</p>
                    <p>@Model.Events.Firm.City, @Model.Events.Firm.State @Model.Events.Firm.Country</p>
                    <p>Tel:     @Model.Events.Firm.Tel</p>
                    <p>Web:   <a href="mailto:@Model.Events.Firm.web">@Model.Events.Firm.web</a></p>
                </div>
                <div class="about_member_block">
                    <div class="about_member_person">
                        <div class="pull-left about_member_person_img">
                            <img src="~/Images/@Model.Events.Team.Picture" alt="">
                        </div>
                        <div class="pull-right about_member_person_info">
                            <h3>@Model.Events.Team.FName @Model.Events.Team.LName</h3>
                            <span><a class="mailto:@Model.Events.Team.Email" href="#">@Model.Events.Team.Email</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56c77f564b126cf8"></script>

}



